html {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(11%2c 65%2c 65%2c 1)'%3e%3c/rect%3e%3cpath d='M77 344L-225 646' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M32 352L428 -44' stroke-width='10' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1107 402L776 733' stroke-width='6' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M903 507L642 768' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M3 380L266 117' stroke-width='10' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M202 6L-146 354' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M533 42L716 -141' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1020 447L1368 99' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M275 500L70 705' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1291 451L935 807' stroke-width='10' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M344 97L-24 465' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M886 154L1084 -44' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M846 126L1141 -169' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M29 357L312 74' stroke-width='10' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M949 125L1206 -132' stroke-width='6' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M297 413L566 144' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M279 105L521 -137' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1354 316L1101 569' stroke-width='8' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1256 414L1455 215' stroke-width='8' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M541 423L808 156' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M38 461L371 128' stroke-width='6' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M375 343L678 40' stroke-width='10' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1185 8L1486 -293' stroke-width='6' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M263 368L113 518' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M335 51L187 199' stroke-width='8' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M558 443L838 163' stroke-width='10' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M647 299L344 602' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M750 385L484 651' stroke-width='8' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M241 240L-36 517' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M351 73L-50 474' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1061 378L1259 180' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1122 226L971 377' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M73 305L-322 700' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M804 443L554 693' stroke-width='6' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M902 111L488 525' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1073 275L809 539' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M203 393L-187 783' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1263 464L990 737' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1186 495L1507 174' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1030'%3e%3cstop stop-color='rgba(202%2c 231%2c 223%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(202%2c 231%2c 223%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1031'%3e%3cstop stop-color='rgba(238%2c 120%2c 121%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(238%2c 120%2c 121%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1032'%3e%3cstop stop-color='rgba(238%2c 120%2c 121%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(238%2c 120%2c 121%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1033'%3e%3cstop stop-color='rgba(202%2c 231%2c 223%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(202%2c 231%2c 223%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

html,
body {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

body,
div,
h1,
h4,
form,
input,
p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    color: rgb(125, 162, 169);
    color: linear-gradient(166deg, rgba(125, 162, 169, 1) 46%, rgba(247, 247, 247, 1) 100%);
}

h1 {
    padding: 10px 0;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    font-family: 'Copse', serif;
}


/* p {
    font-size: 15px;
} */

hr {
    border: 1px solid #191414;
    border-radius: 2px;
}

.main-block {
    max-width: 550px;
    min-height: 400px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(11%2c 65%2c 65%2c 1)'%3e%3c/rect%3e%3cpath d='M77 344L-225 646' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M32 352L428 -44' stroke-width='10' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1107 402L776 733' stroke-width='6' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M903 507L642 768' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M3 380L266 117' stroke-width='10' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M202 6L-146 354' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M533 42L716 -141' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1020 447L1368 99' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M275 500L70 705' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1291 451L935 807' stroke-width='10' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M344 97L-24 465' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M886 154L1084 -44' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M846 126L1141 -169' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M29 357L312 74' stroke-width='10' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M949 125L1206 -132' stroke-width='6' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M297 413L566 144' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M279 105L521 -137' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1354 316L1101 569' stroke-width='8' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1256 414L1455 215' stroke-width='8' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M541 423L808 156' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M38 461L371 128' stroke-width='6' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M375 343L678 40' stroke-width='10' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1185 8L1486 -293' stroke-width='6' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M263 368L113 518' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M335 51L187 199' stroke-width='8' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M558 443L838 163' stroke-width='10' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M647 299L344 602' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M750 385L484 651' stroke-width='8' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M241 240L-36 517' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M351 73L-50 474' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1061 378L1259 180' stroke-width='8' stroke='url(%23SvgjsLinearGradient1031)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1122 226L971 377' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M73 305L-322 700' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M804 443L554 693' stroke-width='6' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M902 111L488 525' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1073 275L809 539' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M203 393L-187 783' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1263 464L990 737' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1186 495L1507 174' stroke-width='8' stroke='url(%23SvgjsLinearGradient1030)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1030'%3e%3cstop stop-color='rgba(202%2c 231%2c 223%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(202%2c 231%2c 223%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1031'%3e%3cstop stop-color='rgba(238%2c 120%2c 121%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(238%2c 120%2c 121%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1032'%3e%3cstop stop-color='rgba(238%2c 120%2c 121%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(238%2c 120%2c 121%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1033'%3e%3cstop stop-color='rgba(202%2c 231%2c 223%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(202%2c 231%2c 223%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
    border: solid 3px #093535;
    /*box-shadow: 0px 0px 10px 4px #;
    background: #687aff; */
}

form {
    margin: 0 30px;
}

.account-type,
.gender {
    margin: 15px 0;
    text-align: center;
}

input[type=radio] {
    display: none;
}

label#icon {
    height: 27.5px;
    margin: 0;
    border-radius: 5px 0 0 5px;
}

label.radio {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    margin-right: 20px;
    text-indent: 30px;
    overflow: visible;
    cursor: pointer;
    border-radius: 40px;
}

label.radio:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: inherit;
    background: white;
}

label.radio:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 10px;
    left: 4px;
    border: 3px solid #191414;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    color: #191414;
    opacity: 0;
}

input[type=radio]:checked+label:after {
    opacity: 1;
}

input[type=text],
input[type=password] {
    width: calc(100% - 95px);
    height: 40px;
    margin: 13px 0 0 -5px;
    padding-left: 10px;
    border-radius: 0px 5px 5px 0px;
    border: solid 2px #000000;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.281);
    background: whitesmoke;
}

input[type=password] {
    margin-bottom: 15px;
}

#icon {
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    background: #161f6d;
    color: #00abe1;
    text-align: center;
}

h4 {
    padding: 0px 0px 15px 0px;
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    font-family: 'Athiti', sans-serif;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 20px;
    border: groove lavenderblush;
    background: #f16f0b;
    box-shadow: 0px 3px #0b4141;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Electrolize', sans-serif;
    color: #1d2228;
    transition: all .2s;
}

button:hover {
    background-color: #0f5c5c;
    color: #fae62d;
}

button:active {
    background-color: #0b4141;
    color: #fae62d;
    box-shadow: 0px 0px;
    top: 4px;
}

.block-item {
    padding: 0px 20px 20px 20px;
}

.block-item.right {
    border-left: 1px solid #aaa;
}

i {
    width: 50px;
    font-size: 24px;
}

.btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    outline: none;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #666;
    background: #e8e8e8;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
}

.btn span {
    font-size: 16px;
}

.facebook {
    background: #3a589e;
}

.twitter {
    background: #429cd6;
}

.google {
    background: #d34836;
}

#or {
    text-align: center;
    font-size: large;
    font-family: Roboto, Arial, sans-serif;
}